 <!-- Single Page Header start -->
 <div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Checkout</h1>
</div>
<!-- Single Page Header End -->

 <!-- Checkout Page Start -->
 <div class="container-fluid py-5">
  <div *ngIf="cart else loadingTmpl">
    <div class="container py-5">
      <h1 class="mb-4">Billing details</h1>
      <form action="#" #placeOrderForm="ngForm" (ngSubmit)="onOrder()">
          <div class="row g-5">
              <div class="col-md-12 col-lg-6 col-xl-7">
                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="form-item w-100">
                              <label class="form-label my-3">First Name<sup>*</sup></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="form-item w-100">
                              <label class="form-label my-3">Last Name<sup>*</sup></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Address 1<sup>*</sup></label>
                      <input type="text" class="form-control" name="deliveryAddress1" [(ngModel)]="placeOrderObj.deliveryAddress1" required #deliveryAddress1="ngModel">
                      <div class="validation" *ngIf="deliveryAddress1.dirty || deliveryAddress1.touched">
                        <small class="text-danger" *ngIf="deliveryAddress1.errors?.['required']">Address 1 is required</small>
                      </div>
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Address 2 <sup>*</sup></label>
                      <input type="text" class="form-control" placeholder="" name="deliveryAddress2" [(ngModel)]="placeOrderObj.deliveryAddress2">
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Town/City<sup>*</sup></label>
                      <input type="text" class="form-control" name="deliveryCity" [(ngModel)]="placeOrderObj.deliveryCity" #deliveryCity="ngModel" required>
                      <div class="validation" *ngIf="deliveryCity.dirty || deliveryCity.touched">
                        <small class="text-danger" *ngIf="deliveryCity.errors?.['required']">City is required</small>
                      </div>
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Country<sup>*</sup></label>
                      <input type="text" class="form-control">
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                      <input type="text" class="form-control" name="deliveryPinCode" [(ngModel)]="placeOrderObj.deliveryPinCode" #deliveryPinCode="ngModel" required>
                      <div class="validation" *ngIf="deliveryPinCode.dirty || deliveryPinCode.touched">
                        <small class="text-danger" *ngIf="deliveryPinCode.errors?.['required']">Postcode/Zip is required</small>
                      </div>
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Lanmark<sup>*</sup></label>
                      <input type="text" class="form-control" name="deliveryLandMark" [(ngModel)]="placeOrderObj.deliveryLandMark" #deliveryLandMark="ngModel" required>
                      <div class="validation" *ngIf="deliveryLandMark.dirty || deliveryLandMark.touched">
                        <small class="text-danger" *ngIf="deliveryLandMark.errors?.['required']">Lanmark is required</small>
                      </div>
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Mobile<sup>*</sup></label>
                      <input type="tel" class="form-control">
                  </div>
                  <div class="form-item">
                      <label class="form-label my-3">Email Address<sup>*</sup></label>
                      <input type="email" class="form-control">
                  </div>
                  <div class="form-item">
                      <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Oreder Notes (Optional)"></textarea>
                  </div>
              </div>
              <div class="col-md-12 col-lg-6 col-xl-5">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th scope="col">Products</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Total</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let product of cart">
                                  <th scope="row">
                                      <div class="d-flex align-items-center mt-2">
                                          <img [src]="product.productImageUrl" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                      </div>
                                  </th>
                                  <td class="py-5">{{product.productName}}</td>
                                  <td class="py-5">{{product.productPrice | currency}}</td>
                                  <td class="py-5">{{product.quantity}}</td>
                                  <td class="py-5">{{product.quantity * product.productPrice | currency}}</td>
                              </tr>
                              <tr>
                                  <th scope="row">
                                  </th>
                                  <td class="py-5"></td>
                                  <td class="py-5"></td>
                                  <td class="py-5">
                                      <p class="mb-0 text-dark py-3">Subtotal</p>
                                  </td>
                                  <td class="py-5">
                                      <div class="py-3 border-bottom border-top">
                                          <p class="mb-0 text-dark">{{placeOrderObj.totalInvoiceAmount| currency}}</p>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">
                                  </th>
                                  <td class="py-5"></td>
                                  <td class="py-5"></td>
                                  <td class="py-5">
                                      <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                  </td>
                                  <td class="py-5">
                                      <div class="py-3 border-bottom border-top">
                                          <p class="mb-0 text-dark">{{placeOrderObj.totalInvoiceAmount| currency}}</p>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                      <div class="col-12">
                          <div class="form-check text-start my-3">
                            <label class="form-check-label d-block m-md-3" for="Transfer-1">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Transfer-1" name="paymentNaration" value="Direct Bank Transfer" [(ngModel)]="placeOrderObj.paymentNaration" required>
                                Direct Bank Transfer
                              </label>
                            <label class="form-check-label d-block m-md-3" for="Transfer-1">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Transfer-1" name="paymentNaration" value="Check Payment" [(ngModel)]="placeOrderObj.paymentNaration" required>
                                Check Payment
                              </label>
                            <label class="form-check-label d-block m-md-3" for="Transfer-1">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Transfer-1" name="paymentNaration" value="Cash On Delivery" [(ngModel)]="placeOrderObj.paymentNaration" required>
                                Cash On Delivery
                              </label>
                            <label class="form-check-label d-block m-md-3" for="Transfer-1">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Transfer-1" name="paymentNaration" value="Paypal" [(ngModel)]="placeOrderObj.paymentNaration" required>
                                Paypal
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                      <button #placeOrderBtn type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary" [disabled]="getTotalItems() == 0 || placeOrderForm.invalid">Place Order</button>
                  </div>
              </div>
          </div>
      </form>
  </div>
  </div>
</div>
<!-- Checkout Page End -->

<ng-template #loadingTmpl>
  <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
</ng-template>
