<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Order History</h1>
</div>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
      <div class="table-responsive">
        <div *ngIf="sale$ | async as sales else loadingTmpl">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Order Date</th>
                  <th scope="col">Total Invoicement</th>
                  <th scope="col">Status</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let ord of sales">
                      <th scope="row">
                        <p class="mb-0 mt-4">{{ord.saleId}}</p>
                      </th>
                      <td>
                          <p class="mb-0 mt-4">{{ord.saleDate | date: "medium"}}</p>
                      </td>
                      <td>
                          <p class="mb-0 mt-4">{{ord.totalInvoiceAmount | currency}}</p>
                      </td>
                      <td>
                          <p class="mb-0 mt-4 text-danger" *ngIf="ord.isCanceled">Canceled</p>
                          <p class="mb-0 mt-4 text-primary" *ngIf="!ord.isCanceled">On Delivery</p>
                      </td>
                      <td>
                          <button class="btn btn-md bg-light border m-1 text-danger" *ngIf="!ord.isCanceled" (click)="onCancel(ord.saleId)">
                              <!-- <i class="fa fa-times text-danger"></i> -->
                               Cancel order
                          </button>
                          <button class="btn btn-md bg-light border m-1 text-primary" (click)="openOrderDetailDialog(ord)">
                              <!-- <i class="fa fa-times text-danger"></i> -->
                               View
                          </button>
                      </td>

                  </tr>

              </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<!-- Cart Page End -->

<ng-template #loadingTmpl>
  <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
</ng-template>
